extends layout

block content
  h1.mt-3 #{fiaba.titolo}

  div.card
    div.card-body
      p.card-text Descrizione: #{fiaba.descrizione}
      p.card-text Autore: #{fiaba.autore}
      p.card-text Testo: #{fiaba.testo}

